PORT=3002

# DEVELOPMENT MONGODB CREDENTIALS
DATABASE_USERNAME=securitygroupdbadmin
DATABASE_PASSWORD=HZrx5dvImmsOFme7
DATABASE_HOST=devsecuritguard.hbnna.mongodb.net
DATABASE_NAME=security-guard-database
DATABASE_URI=mongodb+srv://securitygroupdbadmin:HZrx5dvImmsOFme7@devsecuritguard.hbnna.mongodb.net/?retryWrites=true&w=majority&appName=DevSecuritGuard

# ZAMIL OWN ATLAS DATABASE
DB_Zamil=mongodb+srv://sfszamilakhter24:Cs5f82qX0Vlc9jDQ@zamil-dev.o1hq3.mongodb.net/

# JWT
JWT_SECRET=h38djvz6bw2x9wndmw1b9gi0p4oj6gc2xc49bf0m6mf3nb4g5w51mkq2b7ta8ldr3xmd

# SWAGGER
SWAGGER_ENABLE=true

# SENDGRID
SENDGRID_API_KEY=
SENDGRID_FROM_EMAIL=